*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #ffffff;
}
.navbar {
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;

}

/* LEFT */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #1a73e8;
}

/* CENTER MENU */
.nav-center {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-center li {
    position: relative;
    cursor: pointer;
    color: #333;
    font-size: 15px;
}

/* DROPDOWN */
.dropdown-menu {
    position: absolute;
    top: 35px;
    left: 0;
    background-color: #ffffff;
    list-style: none;
    padding: 10px 0;
    min-width: 180px;
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    display: none;
}

.dropdown-menu li {
    padding: 10px 20px;
    font-size: 14px;
}

.dropdown-menu li:hover {
    background-color: #f2f6ff;
}

/* SHOW DROPDOWN */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* RIGHT BUTTON */
.btn-primary {
    background-color: #1a73e8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #1558b0;
}
.hero{
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
    gap: 60px;
}

/* LEFT */
.hero-left {
    flex: 2;
}
.hero-left h1{ 
    font-size: 36px;
    color: #1a2b49;
    margin-bottom: 15px;
}
.hero-subtext{
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;   
}
.rating{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 25px;
}
.rating-score {
    font-weight: bold;
}
.rating-reviews {
    color: #1a73e8;
    cursor: pointer;
    font-size: 14px;
}

.hero-links a {
    color: #1a73e8;
    font-size: 14px;
    text-decoration: none;
}

.hero-links a:hover {
    text-decoration: underline;
}

/* DESCRIPTION */
.hero-description h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.hero-description p {
    color: #444;
    line-height: 1.6;
}

/* RIGHT */
.hero-right {
    flex: 1;
}

.price-card {
    background-color: #f9fbff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.price-card h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

.price-card h2 {
    font-size: 36px;
    color: #1a73e8;
}
.price-card h5{
    text-decoration: line-through;
    color: #666;
}
.discount {
    color: #ff4d4f;
    font-size: 14px;
    margin-bottom: 20px;
}

.btn-full {
    width: 100%;
}